body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:gainsboro;
    height: 100vh;

}

.header{
    width: 100%;
    height: 50px;
    background-color: white;
}

.text1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

.post1, .post2, .post3{
    width: 600px;
    background-color: white;
    margin: auto;
}

.post1-header, .post2-header, .post3-header{
    display: flex;
    justify-content: space-between;
    width: 600px;
    background-color: white;
}

.post1-header, .post2-header, .post3-header > div{
    display: flex;
    align-items: center;
}

.imagen{
    width: 600px;
}

.text2, .text3, .text4{
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.number1, .number2, .number3{
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
}

.parrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    padding: 20px;
    margin: 0;
}
